.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
Prijava*/
.Prijava{
  display: flex;
  width: 612px;
  height: 563px;
  padding: 24px;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
  background-color: #F5F5F5;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
h2 {
  text-align: left;
  font-size: 48px;
  font-family: 'Lora';
  font-weight: 600;
  border-left: 6px solid #00426C;
  margin-bottom: 0px;
  padding-left: 10px;
  margin-top: 0px;
}
p {
  margin-top: -20px;
  color: black;
  font-family: 'Inter';
  text-align: left;
  font-size: 1.125rem;
}
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  font-family: 'Inter';
  font-weight: 600;
}
input[type="text"] {
  display: flex;
  padding: 10px 2px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #B5B2B2;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
input[type="password"] {
  display: flex;
  padding: 10px 2px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #B5B2B2;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.remember-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-family: 'Inter';
  font-weight: 500;
  flex-direction: row;
}
.forgot-password {
  color: #00426C;
  font-size: 1rem;
  font-family: 'Inter';
  font-weight: 600;
}
.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
border: 1px solid #219C4B;
background: #00426C;
color: white;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
font-family: Inter;
font-size: 1rem;
font-weight: 500;
line-height: 20px;
}
button:hover {
  background-color: #219C4B;
  color: white;
}

nav {
  background-color: #182138;
  display: flex;
padding: 16px 96px;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 45px;
  justify-content: end;
  width: 1300px;
}
p.Predmet {
  text-align: center;
  padding-top: 30px;
}
.Predmet.wrapper-4 button {
  margin-top: 50px;
}
.Predmet.wrapper-4 {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.container {
width: 100%;}
textarea {
  width: 98%;
  margin-top: 10px;
  height: 120px;
}
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
tr button {
  margin-top: 10px;
  margin-left: -170px;
  margin-bottom: 10px;
}
canvas {
  height: 300px;
  width: 300px;
}
select {
    display: flex;
    padding: 10px 2px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid #B5B2B2;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
input[type="email"] {
    display: flex;
    padding: 10px 2px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid #B5B2B2;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.bigbutton {
    display: flex;
   max-width: 360px;
padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #219C4B;
    background: #00426C;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
}
.content-wrapper {
    height: 50vh;
    margin-top: 100px;
}
img.pozadinskaSlika {
    width: 604px;
    height: auto;
}
section.sekundarni {
    align-items: center;
    background: #182138;
    height: 40vh;
    display: flex;
}
.text-wrapper {
  margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.text-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAF7F7;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
   border-radius: 48px;
gap: 32px;
}
.big{
  font-size: 3rem;
  color: #1E293B;
  margin: 0px;
}
p .text-wrapper, .text-wrapper-2 {
  font-size: 1.5rem;
  color: #1E293B;
  margin-top: 0px;
}
section.plava-pozadina {
    background: #00426C;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
section.plava-pozadina p {
    font-size: 1.5rem;
    color: #E3E7EE;
    margin-top: 0px;
}
section.plava-pozadina .container {
 display: flex;
padding: 100px 96px;
justify-content: center;
align-items: center;
gap: 48px;
align-self: stretch;
flex-direction: column;
}
.zadnji{color: #FFF;
text-align: center;
font-family: Lora;
font-size: 33px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 121.212% */
letter-spacing: -0.66px;
width: 70%;
}
.full-height {
    height: 100%;
         width: 805px;

}
.row{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.card{
overflow: hidden;
color: #182138;
text-overflow: ellipsis;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 25.2px */
margin: 0px;
}
.column-left {
    display: flex;
    max-width: 100%;
    align-items: center;
    align-content: center;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
    margin-left: 10%;
}
p.title{
color:  #00426C;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
text-align: center;
margin-top: 0;
}
.card-1 {
    width:40%;
}